<% provide(:page_title, 'About') %>
<% provide(:about_active, 'active')%>
<h1 class="page_title">About</h1>
<div class="container">
  <h3><small class="text-muted">where i'm from and where i'm going.</small></h3>
    <div class="container">
      <p>Aloha! After discovering a passion for programming, I made a major life-changing decision and moved from Hawaii to New York in order to pursue a career in Web Development. I completed an 18-week immersive computer programming course at Dev Bootcamp where I fine tuned my programming mindset and created applications using Ruby, Javascript, & Ruby on Rails. Learning NodeJS, ExpressJS, & ReactJS has allowed me to level up and create some cool things.</p>
      <p>I have always been passionate about helping others. Coming from a retail management background in the health industry, I have had a successful career of exceeding sales goals and developing talent for growth within the company. My greatest joy is forming countless friendships with my clientele and working with them to achieve their health and wellness goals.</p>
    </div>
  <h3><small class="text-muted">let's work together.</small></h3>
    <div class="container">
      <p>here are some places that you can find me on the internet. let's connect and build some amazing things!</p>
    </div>
</div>
