<% provide(:page_title, 'About') %>
<% provide(:about_active, 'active')%>
<h1 class="page_title">about</h1>
<div class="container page-body">
  <h3><small class="text-muted">where i'm from and where i'm going.</small></h3>
    <div class="container">
      <p>aloha! after discovering a passion for programming, i made a major life-changing decision and moved from Hawaii to New York in order to pursue a career in Web Development. i completed an 18-week immersive computer programming course at Dev Bootcamp where i fine tuned my programming mindset and created applications using Ruby, Javascript, & Ruby on Rails. learning NodeJS, ExpressJS, & ReactJS has allowed me to level up and create some cool things.</p>
      <p>i have always been passionate about helping others. coming from a retail management background in the health industry, i have had a successful career of exceeding sales goals and developing talent for growth within the company. my greatest joy is forming countless friendships with my clientele and working with them to achieve their health and wellness goals.</p>
    </div>
  <h3><small class="text-muted">away from the keyboard.</small></h3>
    <div class="container">
      <p>i am infinitely curious, which to me, keeps me young. although i may not strive to master everything, i do desire to have an understanding. a few of my core interests include music, writing and photography. recently, i’ve been addicted to consuming non-fiction books, international soccer and professional wrestling. i have become a strong advocate for diversity and social equality which moves me to create awareness of opportunities that this world faces. </p>
      <p>if i am not coding, you'll most likely find me some where in the city. capturing stories of New York in pictures, running or biking along an avenue or filling my stomach with a dish or whiskey i have never tried before. feel free to download my resume from the link below or shoot me an email if you're interested in creating something cool together.</p>
      <p><%= link_to "download", pdf_download_path, target: :_blank %></p>
    </div>
</div>
