<% provide(:page_title, 'Home')%>
<div class="container">
    <h1>Welcome</h1>
    <div class="container intro">
      <h3>What I Can Do</h3>
      <b>Coding</b>
      <p>Give me a computer and I create things! I love working in back-end development and dabbling with front-end design & development as well.</p>
      <b>Collaboration</b>
      <p>With a passion for helping others, I enjoy working with people to bring their dreams and ideas to life, staying by their side every step of the way.</p>
      <b>Learning</b>
      <p>I am enthusiastic when given the opportunity to learn something new. I value knowledge more since I have begun working in Web Development.</p>
    </div>
  <div class="container">
    <h1>Recent Post</h1>
      <%= render @posts %>
  </div>
</div>
<!-- <%= link_to 'New Post', new_post_path %> -->
