<% provide(:page_title, 'Aloha')%>
<div class="container main">
    <div class="jumbotron jumbotron-fluid landing">
      <div class="container">
        <h1 class="display-3">aloha! (the "hello" version)</h1>
        <p class="lead">an island kid in a world of endless possibilities</p>
      </div>
    </div>
    <div class="container intro">
      <h3 class="page_title">things i do well.</h3>
        <div class="card-group">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">coding</h4>
              <p class="card-text">give me a computer and i create things! i love working in back-end development and dabbling with front-end design & development as well.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">collaboration</h4>
              <p class="card-text">with a passion for helping others, i enjoy working with people to bring their dreams and ideas to life, staying by their side every step of the way.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">learning</h4>
              <p class="card-text">i am enthusiastic when given the opportunity to learn something new. i value knowledge more since i have begun working in Web Development.</p>
            </div>
          </div>
        </div>
    </div>
    <div class="container intro">
      <h3 class="page_title">infinitely curious. </h3>
        <div class="container what">
          <p>I believe there should be a balance in every aspect of our lives.</p>
          <p>Back-End Deveopment is something I excel at but I coninute to level up my Front-End Development chops.</p>
          <p>I believe collaboration is a vital skill to master early in your life.</p>
          <p>Beyond work place productivity, collaboration presents opportunities to grow as humans.</p>
          <p>I always learn and execute.</p>
          <p>We should always add value to something everyday by making the most of the talents we possess. </p>
        </div>
        <!-- <div class="row links">
          <div class="col">
            <h5><a href="./app/assets/images/MattKubotaResume.pdf" target="_blank">resume</a></h5>
          </div>
          <div class="col">
            <h5><a href="mailto:mattkubota5@gmail.com?subject=Let's%20Create!">email</a></h5>
          </div>
        </div> -->
    </div>
    <div class="container intro">
      <h3 class="page_title">latest post.</h3>
        <%= render @posts %>
    </div>
</div>
<!-- <%= link_to 'New Post', new_post_path %> -->
