<% provide(:page_title, 'Home')%>
<div class="container">
  <div class="row welcome">
    <h1>Welcome</h1>
    <div class="container">
      <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
    </div>
  </div>
  <div class="row recent">
    <h1>Recent Post</h1>
      <%= render @posts %>
  </div>
</div>
<!-- <%= link_to 'New Post', new_post_path %> -->
