<% provide(:page_title, 'Projects') %>
<% provide(:projects_active, 'active') %>
<h1 class="page_title">projects</h1>
<div class="container page-body">
  <div class="container main-project">
    <h4 class="project-title">Record Store - Work In Progress</h4>
      <h4><small class="text-muted col"><a href="https://github.com/mattk5/recordstore">github</a></small> <small class="text-muted col">live page</small></h4>
        <p class="body-project">Biodiesel pork belly sustainable health goth. Godard chartreuse fingerstache mixtape vinyl live-edge swag lomo whatever semiotics single-origin coffee tbh etsy you probably haven't heard of them ennui. Raclette af VHS, XOXO hot chicken vice irony normcore copper mug taxidermy vinyl live-edge. Kitsch mixtape keytar affogato marfa meditation wayfarers iceland meggings offal pabst biodiesel man braid. Fam wolf celiac etsy.</p>
    <h4 class="project-title">Find Me Here</h4>
      <h4><small class="text-muted col"><a href="https://github.com/mattk5/findmehere">github</a></small> <small class="text-muted col"><a href="https://findmehere.herokuapp.com/">live page</a></small></h4>
        <p class="body-project">Raclette jean shorts chicharrones pabst helvetica schlitz artisan biodiesel. Street art 3 wolf moon tattooed mixtape af, church-key keytar wayfarers lyft. Lo-fi ennui four dollar toast, post-ironic brunch taxidermy raw denim. Austin craft beer 90's, hammock distillery hot chicken tacos mustache four loko affogato gochujang readymade vape. Authentic portland neutra mumblecore.</p>
    <h4 class="project-title">Biz Card</h4>
      <h4><small class="text-muted col"><a href="https://github.com/mattk5/bizcard">github</a></small> <small class="text-muted col"><a href="https://beta-bizcard.herokuapp.com/">biz card</a></small></h4>
        <p class="body-project">Letterpress microdosing schlitz shabby chic drinking vinegar pitchfork, literally hell of edison bulb. Normcore blue bottle scenester, four loko austin distillery brooklyn farm-to-table plaid vexillologist tacos. Jean shorts chicharrones poutine cronut polaroid bushwick. Enamel pin pop-up jianbing, tilde single-origin coffee kogi try-hard. Quinoa beard skateboard, flannel man braid palo santo keffiyeh truffaut mixtape edison bulb paleo tofu prism bushwick.</p>
    <h4 class="project-title">Bot or Not</h4>
      <h4><small class="text-muted col"><a href="https://github.com/mattk5/bot-or-not"> github</a></small> <small class="text-muted col"><a href="https://bot-or-not.herokuapp.com/">bot or not</a></small></h4>
        <p class="body-project">Letterpress microdosing schlitz shabby chic drinking vinegar pitchfork, literally hell of edison bulb. Normcore blue bottle scenester, four loko austin distillery brooklyn farm-to-table plaid vexillologist tacos. Jean shorts chicharrones poutine cronut polaroid bushwick. Enamel pin pop-up jianbing, tilde single-origin coffee kogi try-hard. Quinoa beard skateboard, flannel man braid palo santo keffiyeh truffaut mixtape edison bulb paleo tofu prism bushwick.</p>
  </div>
</div>
