<% provide(:page_title, 'projects') %>
<% provide(:projects_active, 'active') %>
<h1 class="page_title">projects</h1>
<div class="container page-body">
  <div class="container main-project">
    <h4>Record Store - In Progress</h4>
      <h4 class="project-links"><small class="text-muted col"><a href="https://github.com/mattk5/recordstore">github</a></small> <small class="text-muted col">demo</small></h4>
        <p class="body-project">currently in production, Record Store is a web-app where you can browse music albums other people are selling as well as create your own listings for other people to see. Record Store was created with Ruby on Rails with Bootstrap. </p>
    <h4>Find Me Here</h4>
      <h4 class="project-links"><small class="text-muted col"><a href="https://github.com/mattk5/findmehere">github</a></small> <small class="text-muted col"><a href="https://findmehere.herokuapp.com/">demo</a></small></h4>
        <p class="body-project">a web-app to let those who care about you know your current location. Find Me Here will capture your location via Geolocation(with your permission, of course!) and send an SMS containing the street address to a designated contact. a solo project created Ruby on Rails and Bootstrap.</p>
    <h4>Biz Card</h4>
      <h4 class="project-links"><small class="text-muted col"><a href="https://github.com/mattk5/bizcard">github</a></small> <small class="text-muted col"><a href="https://beta-bizcard.herokuapp.com/">demo</a></small></h4>
        <p class="body-project">quickly get information of your favorite establishment. using the Google Places API and Geolocation, Bizcard will quickly provide you with the contact information, including the address of the business you search for. a two man NodeJS-ReactJS project made pretty with Bootstrap.</p>
    <h4>Bot or Not</h4>
      <h4 class="project-links"><small class="text-muted col"><a href="https://github.com/mattk5/bot-or-not"> github</a></small> <small class="text-muted col"><a href="https://bot-or-not.herokuapp.com/">demo</a></small></h4>
        <p class="body-project">a mobile first in-person multiplayer role-playing game. form teams to go on missions to discover who amongst you are robots disguised as humans. this was a final group project created at Dev Bootcamp and build with Ruby on Rails, ReactJS and styled with Bootstrap.</p>
  </div>
</div>
