<ul class="list-group lists">
  <li class="list-group-item lists-single list-title"><%= link_to post.title, post%></li>
  <li class="list-group-item lists-single"><small class="pub"><%= post.published_date %></small><small class="description"><%= truncate(post.description, length: 150) %></small></li>
</ul>
