<div class="card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title"><%= link_to post.title, post %></h4>
    <p class="card-publish"><%= post.published_date %></p>
    <p class="card-text"><%= post.description %></p>
    <%= link_to 'See Post', post, class: 'card-link' %>
  </div>
</div>
