<div class="container">
  <% if admin_signed_in? %>
    <% provide(:page_title, 'My Posts') %>
    <% provide(:blog_active, 'active') %>
      <%= render 'admin' %>
      <%= link_to 'New Post', new_post_path %>
  <% else %>
    <% provide(:page_title, 'Blog') %>
    <% provide(:blog_active, 'active') %>
      <div class="row welcome">
        <h1>Blog Posts</h1>
      </div>
      <div class="row post">
        <%= render @posts %>
      </div>
  <% end %>
</div>
