<div class="container">
  <% if admin_signed_in? %>
    <% provide(:page_title, 'My Posts') %>
    <% provide(:blog_active, 'active') %>
      <%= render 'admin' %>
      <%= link_to 'New Post', new_post_path %>
  <% else %>
    <% provide(:page_title, 'Blog') %>
    <% provide(:blog_active, 'active') %>
      <div class="row page_title">
        <h1>blog posts</h1>
      </div>
      <div class="row post_list">
        <%= render @posts %>
      </div>
      <div class="digg_pagination">
        <%= will_paginate @posts, :page_links => false %>
      </div>
  <% end %>
</div>
