<% provide(:page_title, 'Posts')%>
<% provide(:blog_active, 'active')%>
<div class="container">
  <div class="row welcome">
    <h1>Blog Posts</h1>
  </div>
  <div class="row post">
    <%= render @posts %>
  </div>
</div>
<% if admin_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
