//Footer Styling
.footer {
  padding: 30px;
  margin-top: 50px;
  background-color: #0097A7;
  color: white;
  font-weight: 300;
  text-align: center;
  ul {
    list-style-type: none;
  }
}

.footer-title {
  font-weight: 300;
}
