// Index Page
.main {
  margin-top: 70px;
}
.recent {
  margin-top: 50px;
}

.jumbotron {
  background-color: white;
}

.display-3 {
  text-align: center;
}

.lead {
  text-align: center;
  padding: 20px;
}

.intro {
  padding: 30px;
  font-weight: 300;
}

.card-group {
  margin-top: 30px;
}

.what {
  margin-top: 30px;
  font-weight: 300;
}

.links {
  text-align: center;
  padding: 25px;
}

//Project Page
.main-project {
  margin-top: 20px;
}
.project-links {
}
.text-muted {
  a {
    color: #0097A7;
  }
  font-weight: 300;
}
.body-project {
  padding: 15px;
}

// About Page
.back-pages {
  color: #0097A7;
  font-size: 18px;
}
// Universal Styling
.page_title {
  border-bottom: .5px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}
.page-body {
  font-weight: 300;
  padding-top: 20px;
}

.card {
  padding: 10px;
}
