// Styles for the Index/Main page
.welcome {
  // padding-top: 50px;
  padding-bottom: 10px;
  // border-bottom: .5px solid;
  text-align: center;
}

.post {
  padding-top: 20px;
  position: relative;
}

// Styles for the Post partial
.card {
  text-align: center;
  border: none;
  margin: 0 auto;
  float: none;
  margin-bottom: 25px;
}
.card-publish {
  font-size: 12px;
}

input[type='text'], textarea {
  font-size: 13px;
}
textarea {
  height: 140px;
}
