.page_title {
  border-bottom: .5px solid;
  padding-bottom: 10px;
}

.post_list {
  padding-top: 20px;
  position: relative;
}

.post-list {
  font-weight: 300;
}
.list-title {
  font-size: 24px;
}
.single {
  margin-top: 30px;
}
// Navigation for Blog Post Pages
.digg_pagination {
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: 300;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: 300;
    background: #2e6ab1;
    color: white;
    border: .5px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #0097A7;
    border: .5px solid #0097A7; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }


// Styles for the Post partial
.lists {
  margin: 15px;
  width: 100%;
}
.lists-single {
  padding: 0;
  font-weight: 300;
  border: none;
  a {
    color: #0097A7;
  }
}
.pub {
  color: #757575;
  padding-left: 15px;
}

.description {
  padding-left: 15px;
}
.card {
  // text-align: center;
  border: none;
  margin: 0 auto;
  float: none;
  margin-bottom: 25px;
  .card-title {
    a {
    color: #0097A7;
    text-decoration: none;
    }
  }
  .card-link {
      color: #0097A7;
      text-decoration: none;
  }
}
.card-publish {
  font-size: 12px;
  color: #757575;
}

input[type='text'], textarea {
  font-size: 13px;
}
textarea {
  height: 140px;
}

// Styles for Post Show page_info
.published {
  color: #757575;
}

.back-posts {
  color: #0097A7;
  padding: 15px;
}

//Admin Posts View
.admin-index {
  padding: 10px;
}
